rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == 'nRjDRPd9PyXf7E05lPM3qef5m2L2';
    }
  }
}
