rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write access to all users.
      // In a production app, you should restrict this to authenticated users.
      // e.g., allow read, write: if request.auth != null;
      allow read, write;
    }
  }
}
